body {
  
  margin: 0;
  background: #ff9ebe; 
}

header {
  background: white;
  color: black;
  padding: 20px;
  text-align: center;
  
 
 
}


img {
    max-width: 200px;
    height: auto;
}




main {
  
  display: flex;
  
  
}

.container{
    flex: auto;  
  background: white;
  padding: 5px;
  margin: 30px;
 
  
}

.bx {
    text-align: center;
}

